


.main {
    padding: 5px;
    position:relative;
    top:100px;
    
}

.vertical-line {
    width: 1px;             
    height: 200px;          
    background-color: #ccc; 
    margin: 0 10px;         
}

.riga{

   
    display:flex;
   justify-content: center;
   flex-direction: row;
   flex-wrap: wrap;
}

.colonna{

    padding:20px;
}

strong{

    font-size: 25px;
    font-weight: 500;
}

.recensioniGenerale{

    font-size:35px;
    font-weight: 500;
}

i{

    font-size:30px;
}

.card{

    width:100%;
}

/* Adattamento per schermi piccoli */
@media (max-width: 1400px) {
    .riga {
        flex-direction: column; 
        
    }

    .vertical-line {
       width:100%;
       height:1px;
       background-color:ccc;

    }

    .colonna {
        padding: 15px; 
        width: 100%; 
    }
}


.containerCard{

    margin:5px;
}