
.container4 {
    position:relative;
    top:75px;
    text-align:left;
    margin-left:50px;
    
}

.container4 h1{
    
    padding-top:40px;
}

.box4 h3{

    padding-top:20px;
    padding-bottom: 20px;

}

hr{
    
    border-width:1px;
    color:black;
    background-color:black
}

.didascalia{
    font-size: 14px;         
    color: #666;              
    margin-top: 3px;          
    margin-bottom: 10px;      
    display: block;
    margin-left:34px;
}